* {
  text-align: center;
}

body {
  background-color: darkgreen;
}

#grid div .story-wrapper{
  border-top: 10px lightgreen solid;
  border-bottom: 10px lightgreen solid;
  margin: 15px 5px;
  padding: 2px;
  box-shadow: 0 0 6px #000;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

#grid div .story-wrapper:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

#grid div div h4{
  padding: 2px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: brown;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 52px;
}

#grid div div {
  padding: 0;
}

#grid div a{
  color: black;
  text-decoration: none;
}

#grid[data-columns]::before {
	content: '5 .column.size-1of5';
}

.column {
  float: left;
}

.size-1of5 {
  width: 20%;
}

.limg {
  width: 100%;
  margin-bottom: -4px;
}

.uv{
  font-family: 'Montserrat', sans-serif;
  position:absolute;
  background-color: white;
  padding: 5px;
  box-shadow: 0 0 6px #555;
}
